/* footer */

      .footer {
            background-color: #000000;
            color: #ffffff;
            padding: 60px 0 0;
        }

        .footer-container {
           /* max-width: 1200px;*/
            width:100%;
            height: auto;
            margin: 0 auto;
            padding-left: 128px;
        }

        .footer-top {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 80px;
            padding-bottom: 50px;
            border-bottom: 1px solid #333;
        }

        .newsletter-section h3 {
            font-family: "Simplon Norm",sans-serif;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 24px;
           
        }

        .newsletter-description {
            font-family: "Simplon Norm",sans-serif;
            font-style: normal;
            font-size: 16px;
            color: #cccccc;
            margin-bottom: 51px;
        }

        .newsletter-form {
            display: flex;
            gap: 12px;
            margin-bottom: 30px;
        }

        .newsletter-input {
           
            padding: 14px 18px;
            background-color: #ffffff;
            border: none;
           width: 384px;
           height:47px;
           font-family: "Simplon Norm",sans-serif;
           font-weight: 400;
            font-size: 18px;
            
        }

        .newsletter-input::placeholder {
            color: #BFC8CD;
        }

        .subscribe-btn {
            font-family: "Simplon Norm",sans-serif;
           font-weight: 500;
           font-style: medium;
            padding: 14px 32px;
            background-color: transparent;
            width: 184px;
            height: 48px;
            color:  rgba(255, 255, 255, 0.3);
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 5px;
            font-size: 18px;
            cursor: pointer;
            text-transform: uppercase;
           
        }


        .contact-section h3 {
              font-family: "Simplon Norm",sans-serif;
           font-weight: 700;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 16px;
           text-transform: uppercase;
        }

        .contact-info {
             font-family: "Simplon Norm",sans-serif;
           font-weight: 400;
           font-style:normal;
            font-size: 16px;
            line-height: 1.8;
            color: #cccccc;
            margin-bottom: 30px;
        }

        .currency-section h3 {
             font-family: "Simplon Norm",sans-serif;
           font-weight: 700;
           text-transform: uppercase;
            font-size: 20px;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 16px;
            letter-spacing: 0.5px;
        }

        .currency-selector {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 12px;
        }

        .flag-icon {
            width: 24px;
            height: 16px;
            border-radius: 2px;
        }

        .currency-text {
            font-size: 14px;
            font-weight: 600;
        }

        .currency-note {
             font-family: "Simplon Norm",sans-serif;
           font-weight: 400;
           font-style: normal;
            font-size: 12px;
            color: #FFFFFF;
            line-height: 1.5;
        }

        .footer-main {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 60px;
            padding: 50px 0;
            border-bottom: 1px solid #333;
        }

        .footer-column h4 {
            font-family: "Simplon Norm";
            font-weight: 700;
            font-size: 24px;
            text-transform: uppercase;
            margin-bottom: 20px;
            letter-spacing: 0.5px;
        }

        .footer-links {
            list-style: none;
        }

        .footer-links li {
            margin-bottom: 12px;
        }

        .footer-links a {
            font-family: "Simplon Norm";
            font-weight: 400;
            font-style: normal;
            color: #cccccc;
            text-decoration: none;
            font-size: 18px;
            transition: color 0.3s;
        }

        .footer-links a:hover {
            color: #ffffff;
        }

        .social-section h4 {
            font-family: "Simplon Norm";
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 20px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
        }

        .social-icons {
            display: flex;
            gap: 16px;
            margin-bottom: 40px;
        }

        .social-icon {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: transform 0.3s;
        }
        .social-icon-linkedin{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: transform 0.3s;
        }

    

        .social-icon svg {
            width: 32px;
            height: 32px;
        }

        .payment-section h4 {
            font-family: "Simplon Norm",sans-serif;
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 20px;
            letter-spacing: 0.5px;
        }
       
        
.payment-methods nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.payment-methods nav a {
    font-family: "Simplon Norm", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    color: #000;
}

/* Background box + centered icon */
.payment-link {
    width: 56px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #FFF2F5;
    border-radius: 5px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.payment-link-1{
    width: 56px;
    height: 35px;
    background: #5A31F4;
    border: 1px solid #FFF2F5;
    border-radius: 5px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.payment-link-2{
    width: 56px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #FFF2F5;
    border-radius: 5px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.payment-link-3{
    width: 56px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #FFF2F5;
    border-radius: 5px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-link img,.payment-link-1 img {
    width: 40px;
    height: 15px; 
}
.payment-link-2 img{
    width: 32px;
    height: 20px;
}
.payment-link-3 img{
    width: 16px;
    height: 19px;
}
.payment-link-4{
    width: 56px;
    height: 35px;
}


        .footer-bottom {
            padding: 24px 0;
            text-align: center;
        }

        .copyright {
            font-size: 13px;
            color: #999999;
        }

  

