header {
    width: 100%;
    height: 188px;
    background-color: #ffffff;
    border-bottom: 1px solid #E5E5E5;
}
/* ==== ROW 1 ==== */

.header-row-1 {
    width: 100%;
    padding-top: 40px;
}
.logo-section {
    display: flex;
    align-items: center;
    justify-content: space-around;  
}

/* Logo */
.logo img {
    width: 36px;
    height: 36px;
    
}

/* Company Name */
.company-name h2 {
    font-family: "inter", sans-serif;
    font-weight: 800;
    font-style: extra-bold;

    font-size: 36px;
    line-height: 100%;
    letter-spacing: 1px;
    color: #000000;
    margin-left: 10px;
}

/* Row-1 Right side navigation */
.social-icons nav {
    display: flex;
    gap: 20px;
}

.social-icons nav a {
    color: #2c3e50;
    text-decoration: none;
    font-weight: 600;
}

/* ==== ROW 2 ==== */
.header-row-2 {
    width: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;  
}

.header-row-2 nav {
    display: flex;
    padding-top: 60px;
    gap:64px;
}

.header-row-2 nav a {
    text-decoration: none;
    height:24px;
    font-family: "Simplon Norm", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 1px;
    color: #252020;
}
/* Center the container on page */
.center-container {
    width: 761px;
    height: 168px;
    padding: 20px;
    margin: 0 auto;               
   
    border-radius: 8px;           
    display: flex;
    flex-direction: column;
    justify-content: center;       
    align-items: center;          
    text-align: center;           
    margin-top: 72px;
    margin-bottom: 72px;
}

/* Header text */
.center-container .title {
    font-family: "Simplon Norm", sans-serif;
    font-weight: 400;         
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 1px;
     font-style: regular;
    text-align: center;        
    text-transform: uppercase;
    display: flex;
    align-items: center;      
    justify-content: center; 
}

/* Description text */

.center-container .description {
     font-family: "Simplon Norm", sans-serif;
    font-weight: 400; 
    font-size: 22px;
    font-style: regular;
    letter-spacing: 0px;
    line-height: 40px;
    text-align: center;
    color: #252020;
    
}