.strip {
            width: 100%;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: #000000;
            padding: 0 20px;
        }

        .strip-item {
            display: flex;
            align-items: center;
            height: 16px;
            gap: 8px;
        }

        .strip-item img {
            width: 16px;
            height: 16px;
        }

        .strip-item span {
           
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 1px;
            line-height: 100%;
            text-align: center;
            color:#EB4C6B;
        }
