

.wrapper {
            width: 100%;
            height: auto;
            margin: 0 auto;
            background-color: white;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

.container {
            max-width: 1248px;
            margin: 0 auto;
            display: flex;
            gap: 30px;
        }
        
@media (max-width: 768px) {


   .left-group .items-count
{
    display: none;
}




    .filter-menu {
        display: none;
    }

    .container {
        flex-direction: column;
        align-items: center;   
    }

    .product-list {
        justify-content: center;
    }

    .product-grid {
        justify-content: center;
    }

    .footer-top {
                grid-template-columns: 1fr;
                gap: 40px;
            }

            .footer-main {
                grid-template-columns: 1fr;
                gap: 40px;
            }

            .newsletter-form {
                flex-direction: column;
            }

            .footer-container {
                padding: 0 20px;
            }
}
