* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, inter,Oxygen, Ubuntu, Cantarell,Simplon Norm, sans-serif;
   
           
        }
@font-face 
{
    font-family: "Simplon Norm";
    src: url("./assets/fonts/Simplon\ Norm.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Adobe Caslon Pro";
    src: url("./assets/fonts/ACaslonPro-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}